<!doctype html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
</head>
<body>
    <h1 class="text-yellow font-mono">Enter your tasks below:</h1>
    <h2>Task Input</h2>
    <form>
        <label for="task">Please enter you first task name: </label><br>
        <input type="text" id="task" name="task"><br>
        <input type="submit" value="Submit">
        #<form action="/action_page.php" method="get"></form>
    </form>
    <img src="https://www.canva.com/design/DAGfMSxo7hM/wbOBar2cuJmKemjYMYMuVg/edit?utm_content=DAGfMSxo7hM&utm_campaign=designshare&utm_medium=link2&utm_source=sharebutton" alt="Description of Image" width="300">
    <img src="file:///Users/vishvdhanraj/Documents/Mood%20Board%20Brainstorm%20Whiteboard.png" alt="Description of Image" width="300">
    
</body>
</html>